* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	color: greenyellow;
	height: 100vh;
}
.cont {
	width: 100%;
	height: 100%;
	/* bg image */
	/* 	background-image: url(./graham-wilson-M32z_iqV-1U-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat; */
	background-color: rgb(255, 255, 255);
}
.email p {
	color: grey;
	letter-spacing: 7px;
	padding: 10px;
}
.email p:nth-child(1) {
	left: 50%;
	transform: translate(-50%);
	position: absolute;
}
.email p:nth-child(2) {
	right: 0%;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	writing-mode: vertical-rl;
}
.email p:nth-child(3) {
	left: 0%;
	top: 50%;
	transform: rotate(180deg) translateY(50%);
	writing-mode: vertical-lr;
	/* 	transform: ; */

	position: absolute;
}
.email p:nth-child(4) {
	left: 50%;
	transform: translate(-50%);
	bottom: 0;
	position: absolute;
}

.nav {
	position: relative;
	top: 6%;
	display: flex;
	height: 10px;

	align-items: center;
	background-color: rgb(0, 0, 0);
}
img {
	margin-left: 15px;
	background-color: black;
}
.nav ul {
	display: flex;
	position: relative;
	justify-content: space-evenly;
	list-style: none;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);

	height: 30px;
	align-items: center;
	font-family: monospace;
	font-weight: bolder;
	font-size: x-large;
}

.footer {
	position: absolute;
	bottom: 6%;
	display: flex;
	height: 10px;
	width: 100%;
	align-items: center;
	justify-content: center;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgb(0, 0, 0);
}
.footer p {
	text-align: center;
	color: rgba(255, 255, 255, 0.781);
	letter-spacing: 3px;
	text-shadow: -0.5px 0 rgb(255, 255, 255), 0 0.5px rgb(255, 255, 255),
		0.5px 0 rgb(255, 255, 255), 0 -0.5px rgb(255, 255, 255);
}
.proj {
	list-style: none;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	display: flex;
	flex-direction: column;
	width: max-content;
	height: 300px;
	justify-content: center;
	z-index: 20;
}
.proj ul {
	padding: 10px 0;
	display: flex;
	width: 100%;
	flex-direction: column;
	font-size: xx-large;
	display: flex;
	cursor: pointer;
	height: 100%;
	justify-content: space-around;
	z-index: 100;
}
.proj ul p {
	text-align: justify;
	width: auto;
	display: block;

	writing-mode: horizontal-tb;
	transition: ease-in-out 1s;
	z-index: 3;
}

ul p span {
	height: 7px;
	width: 50px;
	position: relative;
	background-color: black;
	display: inline-block;
	z-index: 1;
}

.footer ul {
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 20%;
	position: absolute;
}

.proj p:hover span {
	animation: move 1s;
}
.proj p:hover {
	animation: move2 1s;
}

@keyframes move {
	0% {
		transform: translateX(0) scaleX(1);
	}
	50% {
		transform: translateX(-50px) scaleX(3);
		background-color: yellowgreen;
	}
	100% {
		transform: translateX(0) scaleX(1);
	}
}
@keyframes move2 {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(50px);

		color: rgb(0, 0, 0);
	}
	100% {
		transform: translateX(0);
	}
}

.noiseSection {
	background: repeating-linear-gradient(
		rgb(177, 177, 177),
		rgb(196, 196, 196) 50%,
		rgb(43, 43, 43) 50%,
		rgb(41, 41, 41)
	);
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	background-size: 5px 5px;
	filter: url(#noise);
	z-index: -6;
	opacity: 0.6;
}

.main {
	width: 75%;
	height: 70%; /* 
	background-color: rgba(97, 97, 97, 0.219); */
	position: absolute;
	text-align: right;
	top: 50%;
	left: 50%;
	display: block;
	transform: translate(-48%, -50%);
	padding: 20px;
	font-family: sans-serif;
}
.main h1 {
	font-size: 40px;
}
.main h3 {
	font-size: 25px;
	margin-bottom: 15px;
}
.main p {
	top: 23%;
	width: 50%;
	position: absolute;
	right: 0;
	color: black;
	line-height: 36px;
	padding: 20px;
}
.mainphoto {
	width: 30%;
	height: 60%;

	position: absolute;
	bottom: 3%;
	left: 6%;
}
.footer ul {
	list-style: none;
}
@media screen and (max-width: 700px) {
	.main p {
		line-height: 30px;
	}
}
